{% extends "core/includes/base.html"%}
{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody>
  {% for produto in produtos %}

    <tr>
      <th scope="row">{{produto.id}}</th>
      <td>{{produto.produto}}</td>
      <td>{{fornecedor.preco}}</td>
      <td><a href="{% url 'produto_ver' produto.id %}" class="buton "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
</svg></a></td>
    </tr>


   {% endfor %}
  </tbody>
</table>

{% endblock %}