{% extends "core/includes/base.html"%}
{% block main %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nome</th>
      <th scope="col">Razão Social</th>
      <th scope="col">Detalhes</th>
    </tr>
  </thead>
  <tbody>
  {% for produto in produtos %}

    <tr>
      <th scope="row">{{produto.id}}</th>
      <td>{{produto.produto}}</td>
      <td>{{fornecedor.preco}}</td>
      <td><a href="{% url 'produto_ver' produto.id %}" class="buton ">ver</a>@mdo</td>
    </tr>


   {% endfor %}
  </tbody>
</table>

{% endblock %}