{% extends "core/includes/base.html"%}
{% load bootstrap %}
{% block main %}


<div class="card" id="card_fornecedor_edite">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
 <form method="post">
      {% csrf_token %}
       {{form|bootstrap}}
       <br> <br>
       {{formset.managemnt_form}}
       {% for item_estoque_form in formset %}
       {{formset|bootstrap}}
       {% endfor %}
       <br> <br>
      <button>salvar</button>
  </form>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


{% endblock %}